<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="sidebar(activePage)">
      <aside class="sidebar">
        <div class="profile">
          <h3 th:text="${name}">Admin</h3>
          <p>Admin Panel</p>
        </div>

        <ul>
          <li
            th:classappend="${activePage == 'dashboard'} ? 'active'"
            onclick="window.location.href = '/admin/dashboard'"
          >
            Dashboard
          </li>

          <li
            th:classappend="${activePage == 'students'} ? 'active'"
            onclick="window.location.href = '/students'"
          >
            Students
          </li>

          <li
            th:classappend="${activePage == 'courses'} ? 'active'"
            onclick="window.location.href = '/courses'"
          >
            Courses
          </li>

          <li>
            <form action="/logout" method="post">
              <button class="logout">Logout</button>
            </form>
          </li>
        </ul>
      </aside>
    </div>
  </body>
</html>
