<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Students</title>

    <!-- Common + Admin CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/css/admin/students.css" />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="layout">
      <!-- Sidebar -->
      <div
        th:replace="~{fragments/admin-sidebar :: sidebar(${activePage})}"
      ></div>

      <!-- Main -->
      <main class="main">
        <!-- Header -->
        <div class="header">
          <h2>Student Management</h2>

          <a href="/students/add" class="add-btn">
            <i class="fa-solid fa-plus"></i> Add Student
          </a>
        </div>

        <!-- Search -->
        <div class="search-box">
          <form method="get" action="/students">
            <input
              type="text"
              name="keyword"
              placeholder="Search by name, email, or course..."
              th:value="${keyword}"
            />
          </form>
        </div>

        <!-- Table -->
        <div class="table-card">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="s : ${students}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.email}"></td>
                <td th:text="${s.course}"></td>

                <td>
                  <a
                    th:href="@{'/students/edit/' + ${s.id}}"
                    class="action-btn edit-btn"
                  >
                    <i class="fa-solid fa-pen"></i> Edit
                  </a>

                  <form
                    action="/students/delete"
                    method="post"
                    style="display: inline"
                  >
                    <input type="hidden" name="id" th:value="${s.id}" />

                    <button
                      type="submit"
                      class="action-btn delete-btn"
                      onclick="return confirm('Delete student?');"
                    >
                      <i class="fa-solid fa-trash"></i> Delete
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
