<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>

    <!-- Common + Admin CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/css/admin/dashboard.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="layout">
        <!-- Sidebar -->
        <div th:replace="~{fragments/admin-sidebar :: sidebar(${activePage})}"></div>

        <!-- Main -->
        <main class="main">
            <div class="dashboard">
                <!-- Pie Chart -->
                <div class="card">
                    <h3 style="margin-bottom: 15px">Under Construction</h3>
                    <div class="chart-box">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>