<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Courses</title>

    <!-- Common + Admin CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/admin/sidebar.css" />
    <link rel="stylesheet" href="/css/admin/courses.css" />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="layout">
      <!-- Sidebar -->
      <div
        th:replace="~{fragments/admin-sidebar :: sidebar(${activePage})}"
      ></div>

      <!-- Main -->
      <main class="main">
        <!-- Header -->
        <div class="header">
          <h2>Course Management</h2>

          <a href="/courses/add" class="add-btn">
            <i class="fa-solid fa-plus"></i> Add Course
          </a>
        </div>

        <!-- Table -->
        <div class="table-card">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr th:each="c : ${courses}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.course_name}"></td>
                <td th:text="${c.description}"></td>

                <td>
                  <a
                    th:href="@{'/courses/edit/' + ${c.id}}"
                    class="action-btn edit-btn"
                  >
                    <i class="fa-solid fa-pen"></i> Edit
                  </a>

                  <form
                    action="/courses/delete"
                    method="post"
                    style="display: inline"
                  >
                    <input type="hidden" name="id" th:value="${c.id}" />
                    <button
                      type="submit"
                      class="action-btn delete-btn"
                      onclick="return confirm('Delete course?');"
                    >
                      <i class="fa-solid fa-trash"></i> Delete
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
