<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Dashboard</title>

    <!-- Common + Student CSS -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/student/sidebar.css" />
    <link rel="stylesheet" href="/css/student/dashboard.css" />

    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="layout">
      <!-- Student Sidebar -->
      <div
        th:replace="~{fragments/student-sidebar :: sidebar(${activePage})}"
      ></div>

      <!-- Main Content -->
      <main class="main">
        <!-- Topbar -->
        <div class="topbar">
          <h2>Student Dashboard</h2>
          <!-- <form action="/logout" method="post">
            <button class="logout-btn">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </button>
          </form> -->
        </div>

        <!-- Student Info -->
        <div class="cards">
          <div class="card">
            <h3>Name</h3>
            <p th:text="${student.name}">Name</p>
          </div>

          <div class="card">
            <h3>Email</h3>
            <p th:text="${student.email}">Email</p>
          </div>

          <div class="card">
            <h3>Course</h3>
            <p th:text="${student.course}">Course</p>
          </div>
        </div>

        <!-- Update Profile -->
        <div class="card form-card" th:if="${activePage == 'profile'}">
          <h3>Update Profile / Password</h3>

          <form action="/student/update-profile" method="post">
            <input
              type="hidden"
              name="username"
              th:value="${student.username}"
            />
            <input name="email" placeholder="New Email" required />
            <input
              name="password"
              type="password"
              placeholder="New Password"
              required
            />
            <button>Update</button>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
